@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/vendor")
    <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
</head>
<body style="font-family: open_sanslight !important" class="home page page-id-17 page-parent page-template page-template-page-blank-php antialiased sticky_header breadcrumb-normal">
    <div id="applicationHost">

    </div>
    <noscript>
        <style>
            #socialicons > a span {
                top: 0px;
                left: -100%;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            #socialicons > ahover div {
                left: 0px;
            }
        </style>
    </noscript>
</body>
</html>