<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net45" />
  <package id="Autofac.Mvc5" version="3.1.0" targetFramework="net45" />
  <package id="AutoMapper" version="3.1.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.6.2" targetFramework="net45" />
  <package id="Machine.Specifications.Mvc4" version="1.5.11.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="MySql.Data" version="6.8.3" targetFramework="net45" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net45" />
  <package id="MySql.Web" version="6.8.3" targetFramework="net45" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
</packages>